<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vuejs</title>
    <script src="node_modules/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        {{ message }}
    </div>
    <div id="app-2">
        <span v-bind:title="message">
            hover you mose over me for a few 
            seconds to see my dynamically title!
        </span>
    </div>

    <div id="app-3">
        <span v-if="seen">Now you see me</span>
    </div>

    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{todo.text}}
            </li>
        </ol>
    </div>

    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Reverse message</button>
    </div>

    <div id="app-6">
        <p>
            {{ message }}
        </p>
        <textarea v-model="message" cols="30" rows="10"></textarea>
    </div>

    <div id="app-7">
       
        <ol>
            <todo-item
                v-for="item in groceryList"
                v-bind:todo="item"
                v-bind:keys="item.id"
            ></todo-item>
        </ol>
    </div>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello World!!'
            }
        });

        var app2 = new Vue({
            el: '#app-2',
            data: {
                message: 'You loaded this page on '+ new Date().toLocaleString()
            }
        });

        var app3 = new Vue({
            el: '#app-3',
            data:{
                seen: true
            }
        });

        var app4 = new Vue({
            el: '#app-4',
            data: {
                todos: [
                    {text: 'Learn javascript'},
                    {text: 'Learn Vue'},
                    {text: 'Build something awesome'}
                ]
            }
        });

        var app5 = new Vue({
            el: '#app-5',
            data: {
                message: 'hello world!'
            },
            methods: {
                reverseMessage: function (){
                    this.message = this.message.split('').reverse().join('')
                }
            }
        });

        var app6 = new Vue({
            el: '#app-6',
            data: {
                message: 'bla bla bla'
            }
        });

        Vue.component('todo-item',{
            props: ['todo'],
            template: '<li> {{ todo.text }} </li>'
        });

        var app7 = new Vue({
            el: '#app-7',
            data: {
                groceryList: [
                    { id:0, text: 'Vegetables' },
                    { id:1, text: 'Cheese' },
                    { id:2, text: 'Meat' }
                ]
            }
        });

    </script>
</body>
</html>